body {
  background: #d7f9f5;
  
   background: -webkit-linear-gradient(#e8f4f3, #d4ebe1, #bfcee9);
  
  background: linear-gradient(#e8f4f3, #d4ebe1, #bfcee9);
  margin: 300;
  padding:300;
  opacity: 0.75;
 column-count: 2;
 column-width: 100;
}
 a .main-list {
  text-decoration: blink;
  color: black;
}
a:hover{
  color: darkgreen;
}
h1 {
  color: #CC66FF;
  font-size: 2em;
  padding-top: 200px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 5px;
  letter-spacing:2pt;
  text-transform: uppercase;
}


h2 {
  color: darkgreen;
  font-size: 22px;
  padding-top: 50px;
  width: 100%;
  font-family: Arial;
  text-align: left;
}

h3{
  text-decoration:  underline;
}

p {

  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Calibri;
  font-size: 18px;
  margin-top:10;
  padding:300

}
img {
 max-width: 100%;;height: auto;
}
<
meta name="viewport"
 content="width=device-width, initial-scale=1.0">